<html>
<ul id="year">
  <% for yr in Range.new(2016,@thisYear) do%>
  <a href=<%="?ey=#{yr}&em=01"%>><%=yr%></a>
  <% end%>	
</ul>
<ul id="month">
  <% for mth in 1..12 do %>
  <a href=<%="?ey=#{@year}&em=#{mth}"%>><%=mth%></a>
  <% end %>
</ul>
<h1><%= "#{@year}年#{@month}月"%></h1>
<table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td id="time">
        <%= event["day"].strftime("%d %H:%M") %>
      </td>
      <td id="special">
	<%= event["special"]%>
      </td>
      <td id="genre">
        <%= event["genre"] %>
      </td>
      <td id="name">
        <a href=<%= "\"p-schedule/items/#{event["id"]}\"" %> class="text-link" > <%= event["name"] %></a>
      </td>
      <td id="performance">
	<% text = "" %>
	<% @performance.select{|elm| elm["name"] == event["name"]}.each do |perfo|%>
	<% text += perfo["performance"] + " " %>
	<% end%>
	<%= text %>
      </td>
    </tr>
    <% end %>
  </tbody>
</html>
