<div class="app">
  <h1 v-text="message"></h1>

<ul id="year">
  <% for yr in Range.new(2016,@thisYear) do%>
  <a href=<%="?ey=#{yr}&em=01"%>><%=yr%></a>
  <% end%>	
</ul>
<ul id="month">
  <% for mth in 1..12 do %>
  <a href=<%="?ey=#{@year}&em=#{mth}"%>><%=mth%></a>
  <% end %>
</ul>
<h1><%= "#{@year}年#{@month}月"%></h1>
<table  border="1" cellspacing="0" cellpadding="5" bordercolor="#333333">
  <tbody>
    <tr id="tableHeader">
      <td class="time">時間</td>
      <td class="special">特殊事項</td>
      <td class="genre">ジャンル</td>
      <td class="name">イベント名</td>
      <td class="performance">出演</td>
      <% if session[:user_id] %>
      <td class="favorite">お気に入り</td>
      <td class="bought">購入済み</td>
      <% end %>
    </tr>
    <% @events.each do |event| %>
    <tr class="tableRow">
      <td class="time">
        <%= event["day"].strftime("%d %H:%M") %>
      </td>
      <td class="special">
	      <%= event["special"]%>
      </td>
      <td class="genre">
        <%= event["genre"] %>
      </td>
      <td class="name">
        <a href=<%= "\"p-schedule/items/#{event["id"]}\"" %> class="text-link" > <%= event["name"] %></a>
      </td>
      <td class="performance">
	      <% text = "" %>
	      <% @performance.select{|elm| elm["name"] == event["name"]}.each do |perfo|%>
	        <% text += perfo["performance"] + " " %>
	      <% end%>
	      <%= text %>
      </td>
      <% if session[:user_id] %>
      <td class="button">
          <favorite :eventid=<%= event["id"]%> ></favorite>
      </td>
      <td class="button">
          <button>未購入</button
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
