<html>
  <% if @data.first != nil %>
  <% dataFirst = @data.first %>
  <% end %>

  <h1>
    <a href=<%= "\"#{dataFirst["url"]}\"" %>><%= dataFirst["name"]%></a>
    <% if session[:user_id] %>
      <td class="favorite">
        <% if dataFirst["favorite_user_id"]%>
          <favorite :eventid=<%= dataFirst["id"]%>  :isactive="false" :isfavorite="true" :msg="'解除'"></favorite>
        <% else %>
          <favorite :eventid=<%= dataFirst["id"]%>  :isactive="true" :isfavorite="false" :msg="'登録'"></favorite>          <%end%>
      </td>
      <td class="bought">
        <% if dataFirst["bought_user_id"]%>
          <bought :eventid=<%= dataFirst["id"]%>  :isactive="false" :isbought="true" :msg="'解除'"></bought>
        <% else %>
          <bought :eventid=<%= dataFirst["id"]%>  :isactive="true" :isbought="false" :msg="'登録'"></bought>
        <% end %>
      </td>
    <% end %>
  </h1>
  

  <h2 id="performance">
    <% text = "" %>
    <% @performance.select{|elm| dataFirst != nil and elm["name"] == dataFirst["name"]}.each do |perfo|%>
    <% text += perfo["performance"] + " " %>
    <% end%>
    出演:<%= text %>
  </h2>

  <h2>
    ジャンル: <% if dataFirst != nil%><%= dataFirst["genre"] %><% end%>
  </h2>

  <h2>最新の10件</h2>
  <table>
  <tbody>
    <tr>
      <td id="time">日時</td>
      <td id="special">特殊事項</td>
    </tr>
    <% @data.reverse_each do |datum| %>
    <tr>
      <td id="time">
        <%= datum["day"].strftime("%y/%m/%d %H:%M") %>
      </td>
      <td id="special">
	      <%= datum["special"]%>
      </td>
    </tr>
    <% end %>
  </tbody>
</html>
