<html>
  <% @data.each do |datum| %>
  <h1><%= datum["name"] %></h1>
  <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
  <tbody>
    <% @data.each do |datum| %>
    <tr>
      <td id="check">
	<input type="checkbox" id="scales" name="scales"
         checked>
	<label for="scales">購入済み</label>
      </td>
      <td id="time">
        <%= datum["day"].strftime("%d %H:%M") %>
      </td>
      <td id="special">
	<%= datum["special"]%>
      </td>
      <td id="genre">
        <%= datum["genre"] %>
      </td>
      <td id="link">
        <a href=<%= "\"#{datum["url"]}\"" %> class="text-link" > <%= datum["url"] %></a>
      </td>
      <td id="performance">
	<%= datum["performance"] %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <% end %>
</html>
